teams:
  cie-team:
    role: admin
    environments:
      - dev
      - test
    resources:
      - ServiceBusTopic
    approval_required: false

  epo-team:
    role: contributor
    environments:
      - dev
      - test
    resources:
      - ServiceBusTopic
    approval_required:
      dev: true
      test: false
    limitations:
      ServiceBusTopic:
        maxSizeInMegabytes: 1024
      AppService:
        skuTier: ["Basic", "Standard"]
